<?xml version="1.0"?>
<config>
    <modules>
        <Padoo_Testimonial>
            <version>1.2.3</version>
        </Padoo_Testimonial>
    </modules>

    <global>
        <models>
            <padoo_testimonial>
                <class>Padoo_Testimonial_Model</class>
                <resourceModel>padoo_testimonial_mysql4</resourceModel>
            </padoo_testimonial>
            <padoo_testimonial_mysql4>
                <class>Padoo_Testimonial_Model_Mysql4</class>
                <entities>
                    <testimonial>
                        <table>padoo_testimonial</table>
                    </testimonial>
                </entities>
            </padoo_testimonial_mysql4>
        </models>

        <blocks>
            <padoo_testimonial>
                <class>Padoo_Testimonial_Block</class>
            </padoo_testimonial>
        </blocks>

        <helpers>
            <padoo_testimonial>
                <class>Padoo_Testimonial_Helper</class>
            </padoo_testimonial>
        </helpers>

        <resources>
            <padoo_testimonial_setup>
                <setup>
                    <module>Padoo_Testimonial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </padoo_testimonial_setup>
            <padoo_testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </padoo_testimonial_write>
            <padoo_testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </padoo_testimonial_read>
        </resources>
		<template>
            <email>
                <padoo_testimonial_options_mail_to_store_template translate="label">
                    <label>Notification Tesimonials</label>
                    <file>padoo_testimonial_options_mail_to_store_template.html</file>
                    <type>html</type>
                </padoo_testimonial_options_mail_to_store_template>
            </email>
        </template>
    </global>
	<default>
		<captcha>
			<frontend>
				<areas>
					<padoo_testimonial>
						<label>Testimonials Page</label>
					</padoo_testimonial>
				</areas>
			</frontend>
		</captcha>
		<customer>
			<captcha>
				<enable>1</enable>
				<always_for>
					<padoo_testimonial>1</padoo_testimonial>
				</always_for>
				<forms>padoo_testimonial</forms>
			</captcha>
		</customer>
		<padoo_testimonial>
			<general>
				<num_sidebar>4</num_sidebar>
				<time_effect>5</time_effect>
			</general>
		</padoo_testimonial>
	</default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <padoo_testimonial after="Mage_Adminhtml">Padoo_Testimonial_Adminhtml</padoo_testimonial>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
		<menu>
            <padoo_testimonial>
                <title>Testimonial</title>
                <sort_order>76</sort_order>
                <children>
                    <testimonial>
                        <title>Manage Testimonial</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/testimonial</action>
                    </testimonial>
                    <configs>
                        <title>Configs</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/system_config/edit/section/padoo_testimonial</action>
                    </configs>
                </children>
            </padoo_testimonial>
        </menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <padoo_testimonial>
							<title>Testimonial</title>
							<sort_order>76</sort_order>
							<children>
								<testimonial>
									<title>Manage Testimonial</title>
									<sort_order>0</sort_order>
									<action>adminhtml/testimonial</action>
								</testimonial>
								<configs>
									<title>Configs</title>
									<sort_order>1</sort_order>
									<action>adminhtml/system_config/edit/section/padoo_testimonial</action>
								</configs>
							</children>
						</padoo_testimonial>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <padoo_testimonial>
                    <file>padoo_testimonial.xml</file>
                </padoo_testimonial>
            </updates>
        </layout>
        <translate>
            <modules>
                <Padoo_Testimonial>
                    <files>
                        <default>Padoo_Testimonial.csv</default>
                    </files>
                </Padoo_Testimonial>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <padoo_testimonial>
                <use>standard</use>
                <args>
                    <module>Padoo_Testimonial</module>
                    <frontName>testimonials</frontName>
                </args>
            </padoo_testimonial>
        </routers>
        <layout>
            <updates>
                <padoo_testimonial>
                    <file>padoo_testimonial.xml</file>
                </padoo_testimonial>
            </updates>
        </layout>
        <translate>
            <modules>
                <Padoo_Testimonial>
                    <files>
                        <default>Padoo_Testimonial.csv</default>
                    </files>
                </Padoo_Testimonial>
            </modules>
        </translate>
    </frontend>
</config>
