<!-- Webflare Solutions www.webflaresolutions.com -->
<config>
    <modules>
        <Webflaresolutions_Importcategory>
            <version>1.0.1</version>
        </Webflaresolutions_Importcategory>
    </modules>
    <global>
        <models>
            <webflaresolutions_importcategory>
                <class>Webflaresolutions_Importcategory_Model</class>
            </webflaresolutions_importcategory>
        </models>
        <resources>
            <importcategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </importcategory_write>
            <importcategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </importcategory_read>
        </resources>
    </global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<importcategory>
											<title>Import Category Section</title>
										</importcategory>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
<!-- Webflare Solutions www.webflaresolutions.com -->