<?xml version="1.0"?>
<config>
    <modules>
        <Shreeji_Slider>
            <version>1.0.5</version>
        </Shreeji_Slider>
    </modules>
    <global>
        <helpers>
            <slider>
                <class>Shreeji_Slider_Helper</class>
            </slider>
        </helpers>		
		<models>
            <slider>
                <class>Shreeji_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Shreeji_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>shreejislider</table>
                    </slider>
                </entities>
            </slider_mysql4>
        </models>		
		
		<blocks>
			<slider>
				<class>Shreeji_Slider_Block</class>
			</slider>
		</blocks>
        <resources>
            <slider_setup>
                <setup>
                    <module>Shreeji_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
    </global>
	<default>
        <slider>
            <general>
                <enabled>1</enabled>
				<style>random</style>
				<thumbnails>pagination</thumbnails>
				<slidingtime>4</slidingtime>
				<slidingeffecttime>2</slidingeffecttime>
				<loader>pie</loader>
				<navigation>1</navigation>
				<imagewidth></imagewidth>
				<imageheight></imageheight>
				<description>1</description>				
            </general>
			<style>
				<navcolor>#DBD5D0</navcolor>
				<paginationcolor>#999999</paginationcolor>
				<paginationdotcolor>#333333</paginationdotcolor>
				<captionbgcolor>#333333</captionbgcolor>
				<captiontextcolor>#FFFFFF</captiontextcolor>
				<loaderColor>#DBD5D0</loaderColor>
				<loaderBgColor>#000000</loaderBgColor>
				
			</style>
        </slider>
		
    </default>
    <frontend>		
		<routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Shreeji_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>	
    </frontend> 
	
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Shreeji_Slider after="Mage_Adminhtml">Shreeji_Slider_Adminhtml</Shreeji_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	
	<adminhtml>		
		<layout>
			<updates>
				<slider>
					<file>slider.xml</file>
				</slider>
			</updates>
		</layout>
    </adminhtml>
	
</config>