<?xml version="1.0"?>
<config>
    <modules>
        <Naya_CallForPrice>
            <version>1.0.0</version>
        </Naya_CallForPrice>
    </modules>
    
    <global>
        <resources>
            <naya_callforprice_setup>
                <setup>
                    <module>Naya_CallForPrice</module>
                </setup>
            </naya_callforprice_setup>
        </resources>
        <blocks>
            <naya_callforprice>
                <class>Naya_CallForPrice_Block</class> 
            </naya_callforprice>
            <checkout>
                <rewrite>
                    <cart_crosssell>Naya_CallForPrice_Block_Checkout_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    
    <adminhtml>
        <translate>
            <modules>
                <Naya_CallForPrice>
                    <files>
                        <default>Naya_CallForPrice.csv</default>
                    </files>
                </Naya_CallForPrice>
            </modules>
        </translate>
    </adminhtml>
    
    <frontend>
        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <naya_callforprice>
                        <type>singleton</type>
                        <class>Naya_CallForPrice_Model_Observer</class>
                        <method>catalog_product_is_salable_after</method>
                    </naya_callforprice>
                </observers>
            </catalog_product_is_salable_after> 
            <core_block_abstract_to_html_before>
                <observers>
                    <naya_callforprice_to_html_before>
                        <type>singleton</type>
                        <class>Naya_CallForPrice_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </naya_callforprice_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_product_collection_load_before>
                <observers>
                    <naya_callforprice_list_collection>
                        <type>singleton</type>
                        <class>Naya_CallForPrice_Model_Observer</class>
                        <method>customizeCollection</method>
                    </naya_callforprice_list_collection>
                </observers>
            </catalog_product_collection_load_before>
        </events>
        <layout>
            <updates>
                <naya_callforprice>
                    <file>naya_callforprice.xml</file>
                </naya_callforprice>
            </updates>
        </layout>
        <translate>
            <modules>
                <Naya_CallForPrice>
                    <files>
                        <default>Naya_CallForPrice.csv</default>
                    </files>
                </Naya_CallForPrice>
            </modules>
        </translate>
    </frontend>
    
</config>
